.contactWrapper {
  display: flex;
  padding: 100px 0;
}
.contactLeft,
.contactRight {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.contactMain {
  flex: 2;
  display: flex;
  gap: 50px;
}
.contactText {
  display: flex;
  flex-direction: column;
  font-family: "inter";
}

.cForm {
  position: relative;
  font-family: "inter";
}
.formLine1,
.formLine2 {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
.cForm input {
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-bottom: 2px solid #c7c7c7;
  transition: 0.1s;
}

.buttonContact {
  padding: 16px 30px;
  background-color: #f22225;
  color: white;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
.ch1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
}
.buttonContact:hover {
  background-color: #c7c7c7;
}
.cForm .inputBox5 {
  padding: 20px 0;
}
.contactRight img {
  align-self: start;
}
@media screen and (max-width: 640px) {
  .contactMain {
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    overflow: hidden;
  }
  .contactLeft,
  .contactRight {
    display: none;
  }
  .formLine1,
  .formLine2 {
    display: flex;
    flex-direction: column;
  }
  .contactImg {
    width: 100%;
    padding-right: 10px;
  }
}
